{% extends "_base.html" %}
{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <h2>You can close the messages</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>    
            </div>
        {% endfor %}
{% endif %}
    
</div>
{% endblock content %}

